<!doctype html>
<html>
<head>
<title> Women Who Code</title>
<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>

<header>
	<!-- logo - needs image added -->
	<a href="/">Home</a>

	<nav>
		<ul>
			<li><a href="events">Events</a></li>
			<li><a href="resources">Resources</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</nav>
</header>

<!-- content goes here, tags may change based on layout -->

<footer>
	<div>

		<ul>
			<li><a href="events">Events</a></li>
			<li><a href="resources">Resources</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>

		<p>Special thanks to Women Who Code in San Francisco, whose founding member, Sasha Laundy, started a movement of which we're proud to be a part.</p>

	</div><div>

		<ul class="social">
			<li><a href="https://twitter.com/wwcoderenotahoe">Twitter</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="http://www.meetup.com/Women-Who-Code-Reno-Tahoe">Meetup</a></li>
			<li><a href="mailto:coders@womenwhocoderenotahoe.com">Email</a></li>
		</ul>

		<form>
			<p>MailChimp form goes here</p>
		</form>

	</div>
</footer>

</body>
</html>