<!DOCTYPE html>
<head>
	<title> Women Who Code Reno-Tahoe</title>
</head>
<body>

<header>
	<!--logo--><a href="/">Home</a>
	<nav>
		<ul>
			<li><a href="events">Events</a></li>
			<li><a href="resources">Resources</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</nav>
</header>

<h1>Welcome to Women Who Code Reno-Tahoe!</h1>

<h2>Get Updates</h2>
<!--Email Code from Mail-->

<h2>About Us</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum ut justo id semper. Integer non ligula semper, pulvinar mi a, fermentum eros. In malesuada augue at nisi lobortis lacinia. Sed sodales, ipsum a accumsan vehicula, risus nunc tincidunt leo, non semper elit nisl in eros. Sed quis orci nisl. Nunc congue porta felis, a porttitor felis. Praesent mattis massa non tortor sollicitudin tristique. Nullam mollis tempor odio, et posuere nisl faucibus id. Suspendisse potenti. Curabitur sollicitudin nisi quis venenatis imperdiet. Fusce adipiscing felis non dolor euismod, non aliquam neque pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi gravida ut sem quis rutrum. Cras ultrices scelerisque dolor vitae laoreet. Vestibulum convallis elit eu odio convallis aliquam</p>


<h2>Events</h2>
<ul>
	<li><a href="#">Event One</a></li>
    <li><a href="#">Event Two</a></li>
    <li><a href="#">Event Three</a></li>
   
</ul>



<footer>
<ul>
	<li><a href="events">Events</a></li>
	<li><a href="resources">Resources</a></li>
	<li><a href="contact">Contact</a></li>
</ul>
<ul>
	<li><a href="#">Facebook</a></li>
	<li><a href="twitter.com/wwcoderenotahoe">Twitter</a></li>
	<li><a href="mailto:coders@womenwhocoderenotahoe.com">Email</a></li>
</ul>

<!-- add shout out to Women Who Code organization -->

</footer>

</body>
