<!doctype html>
<html>
<head>
<title> Women Who Code</title>
</head>
<body>

<header>
	<!-- logo - needs image added -->
	<a href="/">Home</a>

	<nav>
		<ul>
			<li><a href="events">Events</a></li>
			<li><a href="resources">Resources</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</nav>
</header>

<!-- content goes here, tags may change based on layout -->

<footer>
	<ul>
		<li><a href="events">Events</a></li>
		<li><a href="resources">Resources</a></li>
		<li><a href="contact">Contact</a></li>
	</ul>

	<!-- add shout-out to Women Who Code organization -->

	<ul>
		<li><a href="https://twitter.com/wwcoderenotahoe">Twitter</a></li>
		<li><a href="#">Facebook</a></li>
		<li><a href="http://www.meetup.com/Women-Who-Code-Reno-Tahoe">Meetup</a></li>
		<li><a href="mailto:coders@womenwhocoderenotahoe.com">Email</a></li>
	</ul>

	<!-- add MailChimp subscribe form -->
</footer>

</body>
</html>