@charset "utf-8";

/* 
Page Width 1000px

Colors
------
#00b6aa
#99e1dd
*/

html, body {
	background: #eee;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

/* ----- RESET/BASIC CLASSES ----- */

a {
	color: #99e1dd;
}

h1, h2, h3, h4, p {
	margin: 0 0 1em;
	padding: 0;
}

ul, li {
	margin: 0;
	padding: 0;
}

li { list-style-type: none; }

/* ----- LAYOUT ----- */

header {
    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;
}

header div {
    width: 1000px;
    margin: 0 auto;
}

header img {
    height: 100px;
    position: absolute;
    top: 15px;
}

nav {
    text-align: right;
    padding-top: 60px;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 20px;
}

main {
    width: 1000px;
    margin:0 auto;
}

footer {
    background: #fff;
    width: 100%;
}

footer > div {
    width: 1000px;
    margin: 0 auto;
}

footer div div {
    display: inline-block;
    width: 300px;
    padding: 25px 0;
}

footer div div:first-child {
    border-right: 1px solid #e3e3e3;
    width: 649px;
    margin-right: 25px;
    padding-right: 25px;
}

footer ul {
    margin: 0 0 25px;
}

footer li {
    margin: 0 2em 0 0;
    display: inline-block;
}

.social li {
	margin-right: 0.5em;
}

.social img {
    width: 30px;
}

footer a {
    text-decoration: none;
    text-transform: lowercase;
}

/* ----- EVENTS ----- */

.events-join {
	width: 750px;
	height: 250px; 
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	background: transparent url("../images/grey.jpg") repeat;
}

/* ----- CONTACT ----- */

div.container {
    display: -webkit-box;      /* (http://css-tricks.com/using-flexbox) OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction:row;
}

div.map {
    margin-left:90px;
    width:640px;
}

div.contact:first-child div{
    margin-top:10px;
    width:250px;
    display: -webkit-box;      /* (http://css-tricks.com/using-flexbox) OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: row;
    justify-content: space-between;
}

div.contact div:first-child {
    margin-bottom:50px;
}

div.contact h3 {
    margin:20px 0 10px 0;
}

div.map li {
    margin-bottom: 20px;
}