@charset "utf-8";

/* 
Page Width 1000px

Colors
------
#00b6aa
#99e1dd
*/

html, body {
	background: #eee;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

/* ----- RESET/BASIC CLASSES ----- */

a { color: #00b6aa; }

h1, h2, h3, h4, p {
	margin: 0 0 1em;
	padding: 0;
}

h1 { margin: 0 0 2em; }

ul, li {
	margin: 0;
	padding: 0;    
}

li { list-style-type: none; }

/* ----- LAYOUT ----- */

header {
    width: 100%;
    background-color: #fff;
    margin-bottom: 75px;
}

header div {
    width: 1000px;
    margin: 0 auto;
}

header img {
    height: 100px;
    position: absolute;
    top: 15px;
}

nav {
    text-align: right;
    padding-top: 60px;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
	color: #99e1dd;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 20px;
}

nav a:hover {
	color: #00b6aa;
}

article {
    width: 1000px;
    margin: 0 auto;
}

footer {
    background: #fff;
    width: 100%;
    /*position: absolute;
    bottom: 0;*/
	margin: 100px 0 0;
}

footer > div {
    width: 1000px;
    margin: 0 auto;
}

footer div div {
    width: 300px;
    padding: 25px 0;
    display: inline-block;
	vertical-align: top;
}

footer div div:first-child {
    /*border-right: 1px solid #e3e3e3;*/
    width: 650px;
    margin-right: 25px;
    padding-right: 25px;
}

footer ul {
    margin: 0 0 25px;
}

footer li {
    margin: .5em 2em .5em 0;
    display: inline-block;
}

.social li {
	margin: 0 .5em 0 0;
}

.social img {
    width: 30px;
}

footer ul a {
    text-decoration: none;
    text-transform: lowercase;
}

/* ----- HOME ----- */

.home {
	border-top: 5px solid #99e1dd;
	margin-top: -75px;
}

.home h1 {
	/*background: #99e1dd;
	margin: 0;
	padding: 50px;*/
	margin: 1em 0;
	font-size: 48px;
	line-height: 1.25em;
}

/* ----- EVENTS ----- */

.events section {
	background: #fff;
	width: 263px; /* 1000 / 3 - 50 (padding) - 20 (2 margins / 3) */
	margin-left: 30px;
	padding: 25px;
	display: inline-block;
	vertical-align: top;
}

.events h1 + section {
	margin-left: 0;
}

.events ul {
	margin: 2em 0 0;
}

.events li {
	margin: 0 0 .5em;
	line-height: 20px;
}

.events li span {
	background: url('../images/icons/when.png') no-repeat 0 0;
	background-size: 20px;
	width: 2em;
	display: inline-block;
	color: transparent;
	/*font-weight: bold;*/
}

.events li + li span {
	background-image: url('../images/icons/where.png');
}

.events ul + ul li {
	margin-left: 1em;
	list-style-type: disc;
}

.events object {
	background: #fff;
	width: 950px;
	height: 600px;
	margin: 50px 0;
	padding: 25px
}

/* ----- RESOURCES ----- */

.resources ul {
	margin: 0 0 2em;
}

.resources li {
	margin: 0 0 .5em;	
}

.resources li li {
	margin-left: 1em;
}

.resources span {
	margin: 0 0 1em;
	display: block;
	font-size: 18px;
	font-weight: bold;
}

/* ----- CONTACT ----- */

###div.container {
    display: -webkit-box;      /* (http://css-tricks.com/using-flexbox) OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction:row;
}

###div.contact:first-child div{
    margin-top:10px;
    width:250px;
    display: -webkit-box;      /* (http://css-tricks.com/using-flexbox) OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: row;
    justify-content: space-between;
}

###div.contact div:first-child {
    margin-bottom:50px;
}

.contact {
    width: 358px;
	display: inline-block;
	vertical-align: top;
}

.contact li {
	width: 50px;
	margin: 0 75px 50px 0;
	display: inline-block;
}

.contact a {
	display: block;
}

.contact img {
	width: 100%;
}

.map {
    /*margin-left: 90px;*/
	width: 642px;
	display: inline-block;
	vertical-align: top;
}

.map h3 {
    margin: 1em 0;
}

.map img {
	border: 1px solid #ccc;
}

/* ----- RESPONSIVE ----- */

@media (max-width: 1000px) {
	header div, article, footer > div {
		width: auto;
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (max-width: 575px) {
	header img {
		position: relative;
	}
	
	nav {
		padding-top: 15px;
	}
}

@media (max-width: 700px) {
	footer div div:first-child {
		width: auto;
		margin: 0;
	}
}

/* ----- MailChimp ----- */

.mailchimp input {
	border: 1px solid #ccc;
	margin: .5em 0;
	padding: .4em;
	font-size: 16px;
}

.mailchimp input.button {
	background: #00b6aa;
	border: none;
	border-radius: 5px;
	padding: .4em .6em;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.mailchimp input.button:hover {
	background: #99e1dd;
	color: #00b6aa;
}

.home .mailchimp {
	background: #333;
	margin: 0 0 50px;
	padding: 25px;
	position: relative;
	color: #fff;
}

.home .mailchimp h2 {
	margin: 0 1em 0 0;
	position: relative;
	top: .25em;
	display: inline-block;
	font-size: 24px;
	font-weight: normal;
	font-style: italic;
}

.home .mailchimp input:focus {
	border-color: #00b6aa;
}

.home .mailchimp .field label {
	background: #555;
	border: 1px solid #555;
	padding: .4em;
	display: inline-block;
}

.home .mailchimp .field {
	margin: 0 1em;
	display: inline-block;
	text-transform: lowercase;
}

.home .mailchimp input.button {
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 18px;
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {display:block; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:58%; min-width:130px;}
#mc_embed_signup input.button {display:block; width:35%; margin:0 0 10px 0; min-width:90px;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}