<!DOCTYPE html>
<head>
	<title> Women Who Code</title>
</head>
<body>

<header>
	<!--logo--><a href="/">Home</a>
	<nav>
		<ul>
			<li><a href="events">Events</a></li>
			<li><a href="resources">Resources</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</nav>
</header>

<!--content goes here-->

<footer>
<ul>
	<li><a href="events">Events</a></li>
	<li><a href="resources">Resources</a></li>
	<li><a href="contact">Contact</a></li>
</ul>
<ul>
	<li><a href="#">Facebook</a></li>
	<li><a href="twitter.com/wwcoderenotahoe">Twitter</a></li>
	<li><a href="mailto:coders@womenwhocoderenotahoe.com">Email</a></li>
</ul>

<!-- add shout out to Women Who Code organization -->

</footer>

</body>
